* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Verdana;
}

   body {
   background-color: #c0c0c0;
   }

   .wrapper {
   width: 1200px;
   min-height: 800px;
   margin: 0px auto;  
   padding: 0px;
   text-align: justify;
   background-color: white;
   overflow: hidden;
}

p {
	margin: 0 3% 0 3%;
}
				   
.header {
	min-height: 106px;
	position: relative;
}

.header li {
	list-style-type: none;
}

.header ul {
	width: 80%;
	margin: 0px auto;
	margin-top: 42px;
	font-size: 20px;
	justify-content: space-between;
	display: flex;
}


.pagination {
	display: flex;
	justify-content: space-between;
}

.pagination li {
	list-style-type: none;
	margin: 0 3% 0 3%;
}

.pagination a {
	color: #0BDA51;
}

.sidebar {
	 width: 30%;
	 float: left; 
	 margin-left: 10%;
}

.sectionRight {
   width: 30%;  
   text-align: justify;
   margin: 0 10% 0 40%;
}

a {
   text-decoration: none;
   color: #99c50a;
   opacity: 0.67;  
}

.active {
   text-decoration: underline;
}

a:hover {
   opacity: 1;
   transition: .8s;
}

.center {
   margin: 3% 0 3% 0; 
   text-align: justify;
}

.roster {
	margin: 0 10% 0 10%;
}

.long {
	width: 45%;
}

.center img{
max-width: 5%;
max-height: 5%;
text-align: center;
float: left;
margin: 0 3% 0 3%; 
}

footer img{
max-width: 5%;
max-height: 5%;
text-align: center;
margin: 0px auto; 
}

footer {
	color: #99c50a;
	margin: 0px auto; 
	/*color: #848484;*/
	/*font-family: "Open Sans", sans-serif;*/
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding: 20px;
}

.succes {
	color: red;
}

textarea {
	resize: both;
	min-height: 200px;
	max-height: 300px;
	min-width: 300px;
	max-width: 500px;
}

table {
	padding: 5;
	border-spacing: 2;
	border: 5px solid black;
}